html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: Lato, sans-serif;
    color: #222;
    width: 90%;
    background-color: #f1f3f2;
    margin: auto;
}

.title {
    margin: 10px;
    padding: 10px;

}

.header {
    margin: 0px;
}

.flex {
    max-width: 600px;
}

.flex__item {
    padding: 10px;
    background: white;
    margin: 4px;
    max-width: 600px;
}

.form {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 100px;
}

.form__item {
    flex: 1 0 0;
    margin: 2px;
}

.form__button {
    color: white;
    background-color: teal;
    border: 2px;
    flex-grow: 1;    
}

.form__input {
    flex-grow: 2;
}

.list {}

.list__item {
    list-style-type: none;
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

.list__item--done {
    grid-column-start: 1;
}

.list__item--remove {
    grid-column-start: 3;
}
